body {
    background: #e2e2e2;
    font-family: 'Arsenal', sans-serif;
    padding: 2rem;
  }
  
  a {
    color: #333;

  }
  
  .media-object {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
  .imagee{
    border: 3px solid rgb(15, 9, 103);
  }
  
  .alert {
    margin: 0;
  }
  input:focus{
    box-shadow: none!important;

  }
  .spann{
    display: inline-block;
    align-items: center;
    justify-content: center;
  }